<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
    <header>
    <div class="nav-bar">
        <div class="left-container">
            <div class="head-title-container">
                <a class="head-title" href="/"><h2>Daily Journal</h2></a>
            </div>
        </div>

        <div class="right-container">
            <div class="home-container">
                <a href="/">Home</a>
            </div>
            <div class="about-us-container">
                <a href="/about">About Us</a>
            </div>
            <div class="contact-us">
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
</header>
</head>