
<%-include('partials/header')-%>
<body>
    <div class="main-container">
        <h2 class="page-title">About</h2>
        <p><%=homeStartingContent%></p>
    </div>
</body>
<%-include('partials/footer')-%>
</html>