
<%-include('partials/header')-%>
<body>
    <div class="main-container">
        <div class="page-title-container">
            <h2 class="page-title">Contact</h2>
        </div>
        <p><%=homeStartingContent%></p>
    </div>
</body>
<%-include('partials/footer')-%>
</html>